<?php

	# Add these to your config.php file

	# SendGrid (email) Support

	$GLOBALS['cfg']['enable_feature_email_sendgrid'] = 1;
	$GLOBALS['cfg']['email_sendgrid_api_key'] = 'READ-FROM-SECRETS';

	#
	# load these libraries on every page
	#

	$GLOBALS['cfg']['autoload_libs'] = array(
		'email_sendgrid',
	);
